# Q1. Write a python program to scrape data for "Data Analyst" Job position in "Bangalore" location. You have to scrape the job-title,job-location,company_name, experience_required. You have to scrape first 10 jobs data.

In [188]:
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

driver=webdriver.Firefox(executable_path="C:\\Users\\User\\geckodriver.exe")
# get the webpage www.naukri.com
driver.get('https://www.naukri.com/')
time.sleep(5)
driver.switch_to.window(driver.window_handles[0]) # switch to first window
time.sleep(2)
#finding elements for job search bar
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")

search_loc= driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

# creating xpath for the search with set elements
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
# click the search button
search_btn.click()
time.sleep(5)
#scraping the job_titles for data analyst in Bangalore(First 10)
titles_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:10]

#storing in list without extra tags
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)

#scraping the company names using xpath
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
#storing in company_names list without extra tags
company_names=[]
for i in company_tags:
    company_names.append(i.text)

#getting extra data using span,class name ="ellipsis fleft fs12 lh16". so we use parent tag li
#to avoid extra data i.e.(WHF During Covid)  we will consider first span element
#scraping location data 
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")[:10]
#storing in location list without extra tags
location_list=[]
for i in location_tags:
    location_list.append(i.text)
location_list
# extract the years of experience needed (first 10 elements)
job_exp = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')[:10]
#stroring data in list
experience_list = []
for i in job_exp:
    experience_list.append(i.text)
#Checking the equal length of list
print(len(job_titles),len(company_names),len(location_list),len(experience_list))

#converting into dataframe
df_analyst=pd.DataFrame({"Job Title":job_titles,"Location":location_list,"Company":company_names,"Experience":experience_list})
driver.close()
df_analyst

10 10 10 10

,Job Title,Location,Company,Experience
0,Data Analyst,Bangalore/Bengaluru,Rupeek Fintech Pvt Ltd,0-2 Yrs
1,Data Analyst - Flipkart Analytics,Bangalore/Bengaluru(Bellandur),Flipkart,0-3 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Advanced Computer Software,3-5 Yrs
3,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
4,Urgent Openings For Data Analyst / Business An...,Bangalore/Bengaluru,Flipkart,1-6 Yrs
5,Professional 1 Data Analyst,Bangalore/Bengaluru,DXC Technology,3-8 Yrs
6,Business Data Analyst(BigId) - Capco - Bangalore,Bangalore/Bengaluru,Capco Technologies Pvt Ltd,3-8 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Red Hat,2-5 Yrs
8,Data Analyst,"Kochi/Cochin, Cannanore/Kannur, Nagpur, Calicu...",CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN,1-4 Yrs
9,Data Analyst,Bangalore/Bengaluru,IDC CENTRE FOR CONSULTANCY AND RESEARCH PRIVAT...,3-7 Yrs

#  Q.2 Write a python program to scrape data for "Data Scientist" Job Position in "Bangalore" location.You have to scrape the job-title, job-location, company_name. You have to  scrape first 10 jobs data.

In [189]:
from selenium import webdriver
import pandas as pd
import time 
import warnings
warnings.filterwarnings('ignore')

driver=webdriver.Firefox(executable_path="C:\\Users\\User\\geckodriver.exe")
# get the webpage www.naukri.com
driver.get('https://www.naukri.com/')
time.sleep(5)

driver.switch_to.window(driver.window_handles[0]) # switch to first window
time.sleep(2)
#code to write Data Scientist in skill,designation,companies
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

# code to write Bangalore in location box
search_loc = driver.find_element_by_xpath('//input[@name="location"]')
search_loc.send_keys("Bangalore")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

time.sleep(5)
#scraping the job_titles for data Scientist in Bangalore(First 10)
titles_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')[:10]
#storing in list without extra tags
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
job_titles
#scraping the company names using xpath
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
#storing in company_names list without extra tags
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names
#getting extra data using span,class name ="ellipsis fleft fs12 lh16". so we use parent tag li
#to avoid extra data i.e.(WHF During Covid)  we will consider first span element
#scraping location data 

#scraping location data 
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")[:10]
#location_tags
#storing in location list without extra tags
location_list=[]
for i in location_tags:
    location_list.append(i.text)
location_list
#Checking the equal length of list
print(len(job_titles),len(company_names),len(location_list))
#converting into dataframe
df_science=pd.DataFrame({"Job Title":job_titles,"Location":location_list,"Company":company_names})
driver.close()
df_science

10 10 10

,Job Title,Location,Company
0,Process Innovation Analyst - APAC/Data Scienti...,"Bangalore/Bengaluru, Hyderabad",Bayer
1,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited
2,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM India Pvt. Limited
3,Senior Data Scientist,Bangalore/Bengaluru,Hitachi Ltd.
4,Senior Data Scientist - Insights,Bangalore/Bengaluru,Autodesk India Pvt Ltd
5,Senior Data Scientist - Computer Vision,Bangalore/Bengaluru,GE Transportation
6,Senior Data Scientist | Fortune 500 Supermarke...,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED
7,Data Scientist /Senior Data Scientist,"Chennai, Bangalore/Bengaluru",Dun & Bradstreet
8,Sr Data Scientist / Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",intelligent industrial internet systems pvt ltd.
9,Senior Data Scientist,Bangalore/Bengaluru,Siemens Limited

# Q.3:You have to use the location and salary filter, you have to scrape data for "Data Scientist" designation for first 10 job results,    You have to scrape the job-title,job-location,company name, experience required,    The location filter to be used is "Delhi/NCR" The salary filter to be used is "3-6" lakhs

In [190]:
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

driver=webdriver.Firefox(executable_path="C:\\Users\\User\\geckodriver.exe")
# get the webpage www.naukri.com
driver.get('https://www.naukri.com/')
time.sleep(5)

driver.switch_to.window(driver.window_handles[0]) # switch to first window
time.sleep(2)
#code to write Data Scientist in skill,designation,companies
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
time.sleep(5)
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()
time.sleep(10)

# code for closing the chat box appears 
try:
    chat_close=driver.find_element_by_xpath("//div[@class='crossIcon chatBot chatBot-ic-cross']")
    chat_close.click()# close the chat box
except NoSuchElementException:
    pass

# xpath for location Delhi/NCR
loc_filter=driver.find_element_by_xpath('//div[@class="mt-8 chckBoxCont"]/label[@for="chk-Delhi / NCR-cityTypeGid-"]/i')
loc_filter.click()# select location filter Delhi/NCR
time.sleep(5)
#xpath for salary 3-6 lakhs
salary_filter=driver.find_element_by_xpath('//div[@class="mt-8 chckBoxCont"]/label[@for="chk-3-6 Lakhs-ctcFilter-"]/i')
salary_filter.click()#applying filter salary 3-6 lacs
time.sleep(5)

job_titles=[]
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
for i in title_tags:
    job_titles.append(i.text)
    
company_names=[]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
for i in company_tags:
    company_names.append(i.text)
        
experience_list=[]
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[:10]
for i in exp_tags:
    experience_list.append(i.text)
        
locations_list=[]
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]
for i in loc_tags:
    locations_list.append(i.text)
#converting into dataframe
df=pd.DataFrame({"Job Title":job_titles,"Company":company_names,"Location":locations_list,"Experience":experience_list})
driver.close()
df

,Job Title,Company,Location,Experience
0,Data Scientist III-2,Concentrix Daksh Services,Gurgaon/Gurugram,3-8 Yrs
1,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,Delhi / NCR,4-7 Yrs
2,Data Scientist,ThinkBumblebee Analytics Pvt. Ltd.,"Pune, Bangalore/Bengaluru, Delhi / NCR",2-6 Yrs
3,Data Scientist,Optum Global Solutions (India) Private Limited,(WFH during Covid),2-6 Yrs
4,Data Scientist,Fractal Analytics,"Noida, Gurgaon/Gurugram",3-7 Yrs
5,Data Scientist,MoMagic Technologies Pvt. Ltd.,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",4-6 Yrs
6,Data Scientist,MoMagic Technologies Pvt. Ltd.,Noida(Sector-126 Noida),4-6 Yrs
7,Urgent Hiring || Data Scientist || Delhi,Shriram Automall India Limited,Noida(Sector-126 Noida),2-7 Yrs
8,Data Scientist,Think i,Delhi / NCR,0-2 Yrs
9,Academic Counsellor - Data Scientist,GreatLearning,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",1-4 Yrs

Q.4 Scrape data of first 100 sunglasses listing on flipkart.com. You have to scrape four attribute:
    1.Brand
    2.Product Description
    3.Price

In [191]:
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

driver=webdriver.Firefox(executable_path="C:\\Users\\User\\geckodriver.exe")
# get the webpage www.flipcart.com
driver.get('https://www.flipkart.com/')
time.sleep(10)
#closing the popup
close_popup = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close_popup.click()
# write sunglasses in the search input box
search_input = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_input.send_keys("Sunglasses")
# click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()
time.sleep(5)

url_list=[]
url=driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a')

for i in url[:3]:
    url_list.append(i.get_attribute('href'))
time.sleep(20)

brand=[]
description=[]
price=[]

for i in url_list:
    driver.get(i)
    # scraping the sunglasses brand details
    glass_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')# xpath for brand
    for i in glass_brand:
        brand.append(i.text) # saving in the list 

    # scraping the sunglasses the description
    glass_description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]') # xpath for description
    for i in glass_description:
        try:
            description.append(i.text)# saving in the list
        except:
            description.appendend("There is no description")

    # scraping the price of the sunglasses
    glass_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')# xpath for price
    for i in glass_price:
        price.append(i.text)# saving in the list
time.sleep(5)

#checking the length of data
print( len(brand), len(description), len(price))
#driver.close()
# saving the lists as dataframe
df=pd.DataFrame({"Brand":brand[:100],"Description":description[:100],"Price":price[:100]})
driver.close()
df

120 120 120

             Brand                                        Description   Price
0   ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...    ₹349
1          VILLAIN         Others Retro Square Sunglasses (Free Size)    ₹549
2         Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹639
3           SUNBEE  UV Protection, Polarized, Mirrored Round Sungl...    ₹276
4        Elligator                UV Protection Round Sunglasses (54)    ₹248
..             ...                                                ...     ...
95        elegante          UV Protection Oval Sunglasses (Free Size)    ₹359
96          GANSTA   UV Protection, Gradient Wayfarer Sunglasses (53)    ₹296
97           NuVew  UV Protection, Mirrored, Night Vision, Riding ...    ₹364
98    Singco India  Mirrored, Riding Glasses, Others Sports Sungla...    ₹233
99       ROYAL SON  Polarized, UV Protection, Gradient Over-sized,...  ₹1,234

[100 rows x 3 columns]

Q.5 Scrape 100 reviews data from flipkart.com for iphone11 phone. url given in Question
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review_summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [193]:
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

driver=webdriver.Firefox(executable_path="C:\\Users\\User\\geckodriver.exe")
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"
driver.get(url)
time.sleep(10)

all_reviews=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']") #finding the veiw all review link
all_reviews.click()# clicking view all
time.sleep(10)

# there are 10 pages (Each with 10 reviews), we need to store the urls in list
url = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a') # using the paging navigation bar 
#for i in url:
#    print(i.text)
flipkart_urls=[]
for i in url[:11]:
    flipkart_urls.append(i.get_attribute('href')) # saving the urls in list 

time.sleep(5)

rv_ratings=[]
rv_summary=[]
rv_full=[]
for i in flipkart_urls:# looping through the urls
    driver.get(i)#loading the contents of each urls in loop
    time.sleep(5)
    ratings = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]') # xpath for rating 
    for j in ratings:
        rv_ratings.append(j.text)# storing  10 rating in second loop
    summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]') # xpath for summary
    for j in summary:# storing  10 summary in second loop
        rv_summary.append(j.text)

    full_review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')# xpath for full_review
    for j in full_review:# storing  10 full review in second loop
        rv_full.append(j.text)

print(len(rv_ratings),len(rv_summary),len(rv_full))# checking the equality of list
#creating the dataframe
df=pd.DataFrame({"Ph Rating":rv_ratings[:100],"Summary":rv_summary[:100],"Full Review":rv_full[:100]})
driver.close()
df

107 110 110

,Ph Rating,Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,3,Just wow!,The ultimate performance\nCamera is superb\nTh...
97,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
98,5,Awesome,The phone is completely good\nAs far as camera...
99,5,Decent product,Everything u ll like it when u use this iPhone...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [194]:
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

driver=webdriver.Firefox(executable_path="C:\\Users\\User\\geckodriver.exe")
driver.get("https://flipkart.com") #opening the url
time.sleep(10)
try:
    #closing the popup
    close_popup = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    close_popup.click()
except NoSuchElementException:
    pass

time.sleep(2)
search_input=driver.find_element_by_xpath("//input[@class='_3704LK']")# set sneakers in input box
search_input.send_keys("sneakers")

search_button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")# click the search button
search_button.click()
time.sleep(5)
url_list=[]
page=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a") # finding the paging numbers
for i in (page[:3]):
    url_list.append(i.get_attribute('href')) # saving the href links for firat three pages
time.sleep(10)
snkr_brand=[]
snkr_description=[]
snkr_price=[]
snkr_discount=[]
for i in url_list: # loop through the there pages link 
    driver.get(i) # opening three pages 
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")# xpath for brand 
    for i in brand:
        snkr_brand.append(i.text) # scraping the brand name and append  in list
    description=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]") #xpath for description
    for i in description:
        snkr_description.append(i.text)# scraping the description and append in the list
    price=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[1]") # xpath for price
    for i in price:
        snkr_price.append(i.text) # scraping the price and append in the list
    discount=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[2]/div/div[3]") # xpath for discount
    for i in discount:
        snkr_discount.append(i.text) # scraping the discount and appned in the list
time.sleep(5)
# checking the lenght of each list
print(len(snkr_brand),len(snkr_description),len(snkr_price),len(snkr_discount))
# creating dataframe
df=pd.DataFrame({'Sneaker Brand':snkr_brand[:100],'Description':snkr_description[:100],'Price':snkr_price[:100],'Discount':snkr_discount[:100]})
driver.close()
df

120 120 120 119

   Sneaker Brand                               Description   Price Discount
0      TWIN TOES                          Sneakers For Men    ₹299  70% off
1           PUMA    Puma Smash v2 SL one8 Sneakers For Men  ₹3,119  22% off
2        Numenzo                          Sneakers For Men    ₹479  63% off
3        Wlinzak                          Sneakers For Men    ₹450  54% off
4      SCATCHITE                 Sneakers Sneakers For Men    ₹398  60% off
..           ...                                       ...     ...      ...
95          PUMA        MAPF1 A3ROCAT Mid Sneakers For Men  ₹7,799  62% off
96        Chevit  516 Trendy Star Perfect Sneakers For Men    ₹297  33% off
97  Jack Diamond                          Sneakers For Men    ₹664  45% off
98        Rzisbo                          Sneakers For Men    ₹549  20% off
99      Neeman's                          Sneakers For Men  ₹2,399  55% off

[100 rows x 4 columns]

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [195]:
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

driver=webdriver.Firefox(executable_path="C:\\Users\\User\\geckodriver.exe")

driver.get("https://www.myntra.com/shoes") #opening the url
#applying price filter
price_filter=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label/div")
price_filter.click()
time.sleep(5)
#applying filter color black
color_filter=driver.find_element_by_xpath('//li[@class="colour-listItem"]/label/div')
color_filter.click()
time.sleep(5)

shoe_brand=[]
shoe_description=[]
shoe_price=[]
def scrap_shoes(driver):
    brand=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    for i in brand:
        shoe_brand.append(i.text)

    description=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]")
    for i in description:
        shoe_description.append(i.text)

    price=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div/span[1]")
    for i in price:
        shoe_price.append(i.text)

scrap_shoes(driver)        

while((len(shoe_brand) < 100) and (len(shoe_description)<100) and (len(shoe_price)<100)):
    next_page=driver.find_element_by_xpath('//a[@rel="next"]')
    next_page.click()
    time.sleep(5)    
    page=driver.find_element_by_xpath('//li[@class="pagination-active"]/a')
    url=page.get_attribute('href')
    driver.get(url)
    time.sleep(5)
    scrap_shoes(driver)

#print(len(shoe_brand),len(shoe_description),len(shoe_price))
df=pd.DataFrame({"Shoe Brand":shoe_brand,"Small Description":shoe_description,"Price":shoe_price})
driver.close()
df

         Shoe Brand                 Small Description               Price
0              Nike    AIR ZOOM PEGASUS Running Shoes    Rs. 7996Rs. 9995
1   PUMA Motorsport     Unisex Scuderia Ferrari Shoes    Rs. 7999Rs. 9999
2              Nike     Men Zoom Span 4 Running Shoes            Rs. 7195
3              Nike           Men AIR PRESTO Sneakers   Rs. 9196Rs. 11495
4              Puma     Men Jamming 2.0 Running Shoes  Rs. 10399Rs. 12999
..              ...                               ...                 ...
95     Hush Puppies         Men Solid Formal Slip-Ons    Rs. 8999Rs. 9999
96   ROSSO BRUNELLO  Men Woven Design Leather Loafers           Rs. 10999
97     Hush Puppies   Men Solid Leather Formal Derbys    Rs. 7199Rs. 8999
98             Puma         Men Magnify Nitro Running   Rs. 8449Rs. 12999
99             Geox            Men Leather Flat Boots           Rs. 11999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [197]:
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
import warnings
warnings.filterwarnings('ignore')

driver=webdriver.Firefox(executable_path="C:\\Users\\User\\geckodriver.exe")

driver.get("https://www.amazon.in/") #opening the url
time.sleep(10)
# code for searching laptop
search_input=driver.find_element_by_xpath("//div[@class='nav-search-field ']/input") # xpath for search input
search_input.send_keys("Laptop")
# Code for button click in search btn
search_btn=driver.find_element_by_id("nav-search-submit-button") # xpath for search button
search_btn.click()
time.sleep(10)
# code for intel core i7 fliter 
try:
    filter_i7=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
    for i in filter_i7: # iterate among all filters 
        if i.text=='Intel Core i7': 
            i.click()
            break
except NoSuchElementException:  #spelling error making this code not work as expected
    pass

# code for intel core i9 fliter 
try:
    filter_i9=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
    for i in filter_i9: # iterate among all filters 
        if i.text=='Intel Core i9':
            i.click()
            break
except NoSuchElementException:  #spelling error making this code not work as expected
    pass
# The following code for mouseover on rating and scaping but failed, time constraint also effedted a lot

#object of ActionChains
#a = ActionChains(driver)
#identify element
#m = driver.find_element_by_xpath("a[@class='a-popover-trigger a-declarative']")
#hover over element
#a.move_to_element(m).perform()
#identify rating element
#n = driver.find_element_xpath("span[@class='a-icon-alt']")

time.sleep(5) 
laptop_title=[]

# scraping the titles of laptops
title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")[:10]
for i in title:
    laptop_title.append(i.text) # saving titles in list

laptop_rating=[]

# scraping the ratings of laptops

rating=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']/i/span")[:10]
for i in rating:
    laptop_rating.append(i.text) # saving ratings of laptop

laptop_price=[]

# scraping the prices of laptop
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")[:10]
for i in price:
    laptop_price.append(i.text) # saving prices of laptop
time.sleep(5)
# checking the equality of list 
print(len(laptop_title),len(laptop_rating),len(laptop_price))

# converting into dataframe
df=pd.DataFrame({"Laptop Title":laptop_title,"Rating":laptop_rating,"Price":laptop_price})
driver.close()
df

10 10 10

                                        Laptop Title Rating     Price
0  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...           93,990
1  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...           95,990
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...           56,990
3  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...         1,09,000
4  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...           84,990
5  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...         1,13,990
6  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...           85,990
7  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...           88,508
8  Lenovo Legion 5 11th Gen Intel Core i7 15.6"(3...         1,11,030
9  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           85,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [198]:
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

driver=webdriver.Firefox(executable_path="C:\\Users\\User\\geckodriver.exe")

driver.get("https://www.ambitionbox.com/") #opening the url
time.sleep(5)

#code for clicking  on job in menu
#driver.find_element_by_xpath("//div[@class='nav-search-field ']/input") # xpath for search input

job=driver.find_element_by_xpath("//nav[@class='left-section']/a[@class='link jobs']")
job.click()

# code for enter keyword Data Scientist in Search input
search_keys=driver.find_element_by_xpath("//input[@title='Enter Designation, Company or a Skill']")
search_keys.send_keys('Data Scientist')

# clicking the search button
btn=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round'][1]/span")
btn.click()
time.sleep(2)
#clicking the location tab
location=driver.find_element_by_xpath('//div[@title="Location"]/p')
location.click()
time.sleep(2)
# code for input Noide in search location
search_location=driver.find_element_by_xpath("//input[@placeholder='Search locations']")
search_location.send_keys('Noida')
time.sleep(2)
# code for selecting the Noida location
select_noida=driver.find_element_by_id("location_Noida")
select_noida.click()
time.sleep(2)
#code for scraping  the company name
company_name=[]
name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in name:
    company_name.append(i.text)
#code for scraping  the posting the job
post_time=[]
post=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
for i in post:
    post_time.append(i.text)
#code for scraping the rating of job
job_rating=[]
rating=driver.find_elements_by_xpath("//div[@class='rating-wrapper']/a/span")
for i in rating:
    job_rating.append(i.text)
#checking the length of eash list
print(len(company_name),len(post_time),len(job_rating))
#converting into dataframe (only 10 Records)
df=pd.DataFrame({"Company Name":company_name[:10],"Post Time":post_time[:10],"Rating":job_rating[:10]})
driver.close()
df

10 10 11

                                     Company Name Post Time Rating
0  Optum Global Solutions (India) Private Limited   10d ago    4.1
1                                Steria India Ltd    3d ago    4.1
2                            Ameriprise Financial    5d ago    4.1
3                      Jubilant Foodworks Limited    2d ago    4.1
4  Optum Global Solutions (India) Private Limited  1mon ago    3.9
5                                Steria India Ltd   22d ago    4.1
6                                Steria India Ltd   22d ago    4.1
7                        HCL Technologies Limited  1mon ago    4.1
8                                           Zyoin    4d ago    3.8
9                                        GI Group    2d ago    4.2

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [199]:
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

driver=webdriver.Firefox(executable_path="C:\\Users\\User\\geckodriver.exe")

driver.get("https://www.ambitionbox.com/") #opening the url
time.sleep(5)

#code for clicking  on job in menu
#driver.find_element_by_xpath("//div[@class='nav-search-field ']/input") # xpath for search input

salaries=driver.find_element_by_xpath("//nav[@class='left-section']/a[@class='link salaries']")
salaries.click()
time.sleep(2)
job_profile=driver.find_element_by_id("jobProfileSearchbox")
job_profile.send_keys("Data Scientist")
#suggestion_wrap tt-suggestion tt-selectable
time.sleep(5)
select=driver.find_elements_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']")
for i in select:
    if(i.text=='Data Scientist'):
        i.click()
time.sleep(5)
# code for scraping company name using xpath
company_name=[]
name=driver.find_elements_by_xpath("//div[@class='company-info']/div/a")        
for i in name:
    company_name.append(i.text)

time.sleep(2)
    
# code for scraping total salaries using xpath
total_salaries=[]
ttl_sal=driver.find_elements_by_xpath("//div[@class='company-info']/div/span")        
for i in ttl_sal:
    total_salaries.append(i.text.replace('.',''))    

time.sleep(2)


# code for scraping minimum salaries using xpath
min_salary=[]
min_sal=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")        
for i in min_sal:
    min_salary.append(i.text)

time.sleep(2)

# code for scraping avarage salaries using xpath
avg_salary=[]
avg_sal=driver.find_elements_by_xpath("//div[@class='solid-salary-bar salary-bar-wrapper']/div/p")  
for i in avg_sal:
    avg_salary.append(i.text)

time.sleep(2)
    
# code for scraping maximum salaries using xpath
max_salary=[]
max_sal=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")        
for i in min_sal:
    max_salary.append(i.text)

time.sleep(2)    
    
# code for scraping experience required using xpath
experience=[]
exp=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")        
for i in exp:
    experience.append(i.text)

time.sleep(2)
#checking the eqality of length
print(len(company_name),len(total_salaries),len(min_salary),len(max_salary),len(experience))
#converting into Dataframe (only 10 Records)
df=pd.DataFrame({"Company Name":company_name[:10],"Total Salaries":total_salaries[:10],"Minimum Salary":min_salary[:10],"Max Salary":max_salary[:10],"Experience":experience[:10]})
driver.close()
df

10 20 10 10 10

,Company Name,Total Salaries,Minimum Salary,Max Salary,Experience
0,Ab Inbev,based on 10 salaries,₹ 15.0L,₹ 15.0L,Data Scientist\n . \n4 yrs exp
1,Optum,,₹ 11.0L,₹ 11.0L,Data Scientist\n . \n3-4 yrs exp
2,Fractal Analytics,based on 22 salaries,₹ 9.0L,₹ 9.0L,Data Scientist\n . \n2-4 yrs exp
3,Tiger Analytics,,₹ 8.3L,₹ 8.3L,Data Scientist\n . \n3-4 yrs exp
4,UnitedHealth,based on 60 salaries,₹ 7.2L,₹ 7.2L,Data Scientist\n . \n2-4 yrs exp
5,Verizon,,₹ 10.0L,₹ 10.0L,Data Scientist\n . \n4 yrs exp
6,Ganit Business Solutions,based on 24 salaries,₹ 8.5L,₹ 8.5L,Data Scientist\n . \n4 yrs exp
7,Deloitte,,₹ 6.9L,₹ 6.9L,Data Scientist\n . \n2-4 yrs exp
8,Ernst & Young,based on 45 salaries,₹ 6.0L,₹ 6.0L,Data Scientist\n . \n3-4 yrs exp
9,Ericsson,,₹ 5.0L,₹ 5.0L,Data Scientist\n . \n3-4 yrs exp